<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="target1" xsi:type="ColoredConsole" layout="Access Log|${level:uppercase=true}|${logger}|${message}">
			<highlight-row condition="true" foregroundColor="red"/>
		</target>
		<target name="target2" xsi:type="ColoredConsole" layout="Common Log|${level:uppercase=true}|${logger}|${message}">
			<highlight-row condition="true" foregroundColor="green"/>
		</target>
		<target name="target3" xsi:type="ColoredConsole" layout="Yellow Log|${level:uppercase=true}|${logger}|${message}">
			<highlight-row condition="true" foregroundColor="yellow"/>
		</target>
		<target name="file" xsi:type="File"
        fileName="logs/app.log"
        archiveFileName="logs/app.{#}.log"
        archiveEvery="Day"
        maxArchiveFiles="7"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="target1,target2,target3" />
	</rules>
</nlog>